h2{
    color: #ffff;
    padding: 5px 0 15px 0;
}

h5{
    color: #ffff;
}
.title{
    color: #35e888;
    font-weight: 700;
    font-size: 26px;
}
.About-container{
  background: #1a1919;
  max-width: 1240px;
  margin: auto;
  padding: 2rem;
}
.about-content{
  /* width: auto;
  height: auto;
  padding: 30px;
  justify-content: center;
  max-width: 1340px;
  background:rgb(68, 68, 68);
  opacity: 0.9;
  margin:auto;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem; */
  
  
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 40px;
  padding-bottom: 5rem;
}

.pro-img{
  width: 100%;
  opacity: 70%;
}
.pro-img:hover{
  opacity: 1;
}
.section-title {
margin-top: 15px;
}
.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #4ceb95;
  margin: 4px 10px;
}

.section-title .int-title{
  font-size: 14px;
  font-weight: 500;
  padding-top:15px;
  line-height: 1px;

  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}
.interests-section .tech-row .icon-box {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-top: 1.2rem;
  margin-left: 2%;
  background: rgba(255, 255, 255, 0.08);
  transition: ease-in-out 0.3s;
}

.interests-section .tech-row .icon-box:hover{
  opacity: 0.5;
}
.interests-section .tech-row .icon-box .tech-name{
  font-weight: 700;
  margin: 0;
  padding-left:10px ;
  line-height: 1;
  font-size: 16px;
  color: #fff;
}
.interests-section .tech-row{
  display: grid;
  grid-template-columns: repeat(4,4fr);
}
@media screen and (max-width:1040px){

  .interests-section .tech-row{
    grid-template-columns: repeat(2,4fr);
  }
    .about-content{
        grid-template-columns:1fr;
        margin-left: 8%;
        margin-right: 8%;
        max-width: 90%;
    }
    .About-container{
      margin-left: 10%;
        margin-right: 10%;
    }
    
   .content .row{
      grid-template-columns: 1fr;
    } 

}
h5::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #4ceb95;
    margin: 4px 10px;
  }
 
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }
.row{
  justify-content: space-between;
  max-width: 1040px;
  margin: auto;
  margin-top: 7%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
  ul {
    list-style: none;
    padding: 0;
  }
 .row  ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
   .row ul strong {
    margin-right: 10px;
    color: #18d26e;
  }
  .row  ul i {
    font-size: 16px;
    margin-right: 5px;
    color: #18d26e;
    line-height: 0;
  }
  .row  p:last-child {
    margin-bottom: 0;
  } 
  span{
    color:#fff;
   }
   a span{
    color: #18d26e;
   }
a span:hover{
  color: #fff;
}